go 1.24.11

use (
	./pkg
	./services/acquirer-simulator
	./services/api-gateway
	./services/audit-service
	./services/ledger-service
	./services/merchant-service
	./services/payment-service
	./services/reconciliation-service
	./services/tokenization-service
)
