version: '3.8'

services:
  payment-service:
    build: .
    container_name: payment-service
    ports:
      - "8081:8080"  # Changed from 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=payments
      - DB_USER=postgres
      - DB_PASSWORD=postgres123
    depends_on:
      - postgres
    networks:
      - payment-network

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=payments
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - payment-network

volumes:
  postgres-data:

networks:
  payment-network:
    driver: bridge
