apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: payments-system
  labels:
    app: api-gateway
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: api-gateway
