apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: payments-system
spec:
  template:
    spec:
      containers:
      - name: payment-service
        image: acrpaymentsdev84bwov.azurecr.io/payments-sandbox/payment-service:latest
        env:
        - name: AZURE_CLIENT_ID
          value: "c43b3f46-fba8-4e3e-99b3-93d43051ae80"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: password
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: host
        - name: DB_NAME
          value: "payments"
        - name: DB_SSLMODE
          value: "require"
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-credentials
              key: password
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: audit-service
  namespace: payments-system
spec:
  template:
    spec:
      containers:
      - name: audit-service
        image: acrpaymentsdev84bwov.azurecr.io/payments-sandbox/audit-service:latest
        env:
        - name: AZURE_CLIENT_ID
          value: "e2fb3ff1-04d7-4e8c-875f-dd63d8d5e198"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: password
        - name: DB_SSLMODE
          value: "require"
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-credentials
              key: password
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ledger-service
  namespace: payments-system
spec:
  template:
    spec:
      containers:
      - name: ledger-service
        image: acrpaymentsdev84bwov.azurecr.io/payments-sandbox/ledger-service:latest
        env:
        - name: AZURE_CLIENT_ID
          value: "e62ce72b-4796-465c-9b1d-d39f339f9eda"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: password
        - name: DB_SSLMODE
          value: "require"
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-credentials
              key: password
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tokenization-service
  namespace: payments-system
spec:
  template:
    spec:
      containers:
      - name: tokenization-service
        image: acrpaymentsdev84bwov.azurecr.io/payments-sandbox/tokenization-service:latest
        env:
        - name: AZURE_CLIENT_ID
          value: "316c2b37-c4d2-4577-bdeb-47cdb0f47692"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: password
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: host
        - name: DB_NAME
          value: "tokenization"
        - name: DB_SSLMODE
          value: "require"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: merchant-service
  namespace: payments-system
spec:
  template:
    spec:
      containers:
      - name: merchant-service
        image: acrpaymentsdev84bwov.azurecr.io/payments-sandbox/merchant-service:latest
        env:
        - name: AZURE_CLIENT_ID
          value: "11ffd129-a2da-4e41-959e-37d127f365d1"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: password
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: host
        - name: DB_NAME
          value: "merchants"
        - name: DB_SSLMODE
          value: "require"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: acquirer-simulator
  namespace: payments-system
spec:
  template:
    spec:
      containers:
      - name: acquirer-simulator
        image: acrpaymentsdev84bwov.azurecr.io/payments-sandbox/acquirer-simulator:latest
        env:
        - name: AZURE_CLIENT_ID
          value: "e3b8f8ac-84b6-4a6d-9c6c-17b08ee8d1f3"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: reconciliation-service
  namespace: payments-system
spec:
  template:
    spec:
      containers:
      - name: reconciliation-service
        image: acrpaymentsdev84bwov.azurecr.io/payments-sandbox/reconciliation-service:latest
        env:
        - name: AZURE_CLIENT_ID
          value: "7c739f54-ccfe-4576-ab0d-8037b75231e4"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: password
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: postgresql-credentials
              key: host
        - name: DB_NAME
          value: "reconciliation"
        - name: DB_SSLMODE
          value: "require"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: payments-system
spec:
  template:
    spec:
      containers:
      - name: api-gateway
        image: acrpaymentsdev84bwov.azurecr.io/payments-sandbox/api-gateway:latest
        env:
        - name: AZURE_CLIENT_ID
          value: "50be3583-7131-400a-a9c3-d2ade47c97da"