name: Tokenization Service CI

on:
  push:
    branches:
      - main
    paths:
      - 'services/tokenization-service/**'
  pull_request:
    paths:
      - 'services/tokenization-service/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Vet
        working-directory: ./services/tokenization-service
        run: go vet ./...

      - name: Run tests
        working-directory: ./services/tokenization-service
        run: go test -v ./...

      - name: Install gosec
        run: |
          curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.18.2

      - name: Run gosec
        working-directory: ./services/tokenization-service
        run: |
          $(go env GOPATH)/bin/gosec ./...

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-action@v5
        with:
          context: ./services/tokenization-service
          file: ./services/tokenization-service/Dockerfile
          tags: tokenization-service:latest # This is temporary, will be replaced with ACR login and image digest
          load: true # To make the image available for next steps
